<div class="login-container">
    <div class="login-before"></div>
    <div class="jumbotron">
        <!-- Beginning of tab content -->
        <h1 class="display-3" align="center">The Bearcat Pantry</h1>
        <div id="myTabContent" class="tab-content">
            <!-- Manager Tab -->
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your 6+2">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
                    </div>
                    <a href="main.html" class="btn btn-primary submit-button">Login</a>

                </fieldset>
        </div>
    </div>
</div>
</div>
<div class="login-before"></div>
</div>