<div class="main-container">
    <div id='barcode-scanner'></div>
    <input type="button" id="btn" value="Start/Stop the scanner" />
    <form method="post" action="/sendMail">
        <input type="submit" id="emailButton" value="Send a test email" />
    </form>
</div>