<p>
The Bearcat Pantry is looking to create a web application to function as a 'virtual pantry' for University of Cincinnati Students that are unable to afford food.

Currently, the Bearcat Pantry manually keeps track of Students and Inventory. As a result, Students using this service must call in to learn about the inventory of the food pantry. There is a need for a system that catalogs and updates inventory of the food pantry, which can also display the inventory on a website.

The pantry currently does not track inventory in any aspect. The current system has an advisor unlock the pantry in French Hall, and the Student takes whatever they want. This is a bad system because it is not anonymous, and can be abused because inventory is not tracked.
</p>