<div class="main-container">
    <h2>All Shopping Carts</h2>
    <table class="table table-hover cart-table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Cart Contents</th>
            </tr>
        </thead>
        <tbody>
            {{#each carts}}
            <tr>
                <th scope="row" class="fixed-row">{{this.user}}</th>
                <th scope="row" class="fixed-row">
                    {{#each this.items }}
                    {{this.itemName}} - {{this.quantity}}
                    <br>
                    {{/each}}
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>