<div class="main-container">
    <h1>Barcode Not Found!</h1>
    <form method="post" action="/addItemByName" id="addItemByName">
        <div class="form-group">
            <label for="itemName">Item name</label>
            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Enter item name..."
                required>
            <div id="badItemName" class="invalid-feedback" style="display: none">A valid
                item name id is between 4 and 20 characters with no special characters.</div>
        </div>
        <input type="hidden" name="barcode" id="barcode" value={{barcode}}>
        <input type="submit" class="btn btn-primary" disabled="disabled" id="addButton" value="Add Item">
    </form>
</div>