<div class="main-container">
    {{#if itemInCart}}
        <h4> Items in the database</h4>
        <div class="card-container">
            {{#each itemInCart}}
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{this.itemName}}</div>
                    <div class="card-body">
                        quantity: {{this.quantity}}
                        <br>
                    </div>
                </div>
            {{/each}}
        </div>

    {{else}}
        <li class="list-group-item">
            <h4 class="text-center">
                No items in shopping cart
            </h4>
        </li>
    {{/if}}
</div>