{{#unless itemInCart}}
<li class="list-group-item no-items">
        <h4 class="text-center">
            No items in shopping cart
        </h4>
</li>
<div class="main-container" hidden>
{{else}}
<li class="list-group-item no-items" hidden>
        <h4 class="text-center">
            No items in shopping cart
        </h4>
</li>
<div class="main-container">
{{/unless}}
    <h4> Items in your cart</h4>
    <table class="table table-hover cart-table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity in Cart</th>
            </tr>
        </thead>
        <tbody>
            {{#each itemInCart}}
            <tr class="item-set">
                <th scope="row" class="fixed-row">{{this.itemName}}</th>
                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
                                data-field="">
                                <span class="glyphicon glyphicon-minus">-</span>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number cart-quantity-input"
                            value={{this.quantity}}>
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus"
                                data-field="">
                                <span class="glyphicon glyphicon-plus">
                                    +
                                </span>
                            </button>
                        </span>
                        <button type="button" class="btn btn-danger remove-from-cart">
                            Remove
                        </button>
                        <div id="badQuantity" class="invalid-feedback invalid-quantity" style="display: none">Item
                            quantity must be greater than 0, and less than the amount in the pantry.</div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" id="checkout">Checkout</button>
</div>