<div class="main-container">
    {{!-- {{#if barcode !== "NOBARCODE"}} 
    render a version of this page with the name field
    {{else}}
    we added by name so render a version without the name field--}}
</div>