<div class="home">
    <div class="logo">
        <img src="/logo.png"></img>

    </div>
    <h1 class="formatted-h1">Bearcat Pantry</h1>
    <div class="text-container">
        <p class="intro-text">The UC Bearcats Pantry provides free food, hygiene items, and cleaning supplies to
            students with food and
            other insecurities. The pantry also provides meal vouchers that can be used at campus dining halls. The
            pantry is meant to provide supplemental support which means we do not supply enough food to completely
            eradicate food insecurity. Our goal is to assist students in need by cutting down their grocery bills and
            connecting them to other resources in an effort to promote independence. The Bearcats Pantry is here to
            support students of all backgrounds and serve the student population.</p>
    </div>
    <div class="text-container">
        <p>he Bearcats Pantry is an initiative founded in 2016 by the Assistant Dean of Students, Daniel S. Cummins.
            With the help of a strong and dedicated committee team and other UC affiliates, the Bearcats Pantry was
            created. The Bearcats Pantry also became a member of the College and University Food Bank Alliance (CUFBA)
            which strives to “alleviate the barriers and challenges associated with food insecurity and hunger so that
            college and university students can remain in school, and ultimately, earn their degrees.”</p>
    </div>
    <div class="text-container">
        <p>
            To be eligible for services, you must be a UC undergraduate or graduate student.
        </p>
    </div>
    <h2 class="formatted-h2"> About the Pantry</h2>
    <div class="text-container">
        <p>
            The Bearcats Pantry offers both a main location along with several to-go satellite locations around campus.
        </p>
    </div>
    <h3 class="formatted-h3">Main Pantry</h3>
    <h4 class="formatted-h4">Location</h4>
    <div class="text-container">
        <p>The Pantry is located in Stratford Heights Building 16 Rm 007.</p>
    </div>
    <div class="text-container">
        If you have questions regarding directions or procedures, you may call 513-556-5064 or 556-3780 to speak with a
        respresentative regarding directions or procedures.
    </div>
    <h4 class="formatted-h4">What to Expect</h4>

    <div class="text-container">
        <ul>
            <li>If possible, please have your Bearcat Card present (not required).</li>
            <li>You will be asked to fill out an intake survey. The intake survey is meant to help the Bearcats Pantry
                understand the needs of the students it serves, as well as connect you, the student, to more resources
                available.</li>
            <li>After completing the intake survey, the worker or volunteer will take you back to the pantry. You will
                be given a bag to place items into. Please take what you need. We are a completely free choice pantry.
            </li>
            <li>If possbile for future visits, please bring back the reusable bags.
            </li>
            <li>Our goal is for this process to be as easy, quick, and confidential as possible.
            </li>
        </ul>
    </div>
    <h4 class="formatted-h4">Hours</h4>
    <div class="text-container">
        <p>Typical hours for the Bearcats Pantry are 9am-5pm, Monday through Friday. If these hours do not work with
            your schedule, please contact us to set up an appointment. Additionally, appointments may be made during
            the weekend.</p>
    </div>
    <h3 class="formatted-h3">Bearcat Pantry To-go</h3>
    <h4 class="formatted-h4">Locations</h4>
    <div class="text-container">
        <p>Bearcats Food Pantry To-Go bags are located at various sites around campus. Listed below is a complete list
            of locations:</p>
        <ul>
            <li>UC Blue Ash Student Food Pantry - Academic Advising Office</li>
            <li>College of Nursing - 213 Proctor Hall</li>
            <li>DAAP Student Affairs - 5470 Aronoff</li>
            <li>College of Pharmacy - 169 Kowalewski Hall</li>
            <li>College of Engineering and Applied Sciences - 665 Baldwin Hall, Suite I</li>
            <li>College of Education, Criminal Justice, and Human Services - Student Services Center, 360 Teachers-Dyer
                Complex</li>
            <li>UC Police Department - 3 Edwards Center</li>
            <li>College of Allied Health Sciences - 131 French Hall East</li>
        </ul>
    </div>
    <h4 class="formatted-h4">What to expect</h4>
    <div class="text-container">
        <ul>
            <li>After locating a site, you will be directed to a specific office within the designated building. Tell
                the person in the office that you are here for a Bearcats Food Pantry To-Go bag.
            </li>
            <li>If this is your first time, you will be asked to fill out an intake survey. The intake survey is meant
                to help the Bearcats Pantry understand the needs of the students it serves, as well as connect you, the
                student, to more resources available.
            </li>
            <li>After completing the intake survey, you will be given a prepackaged food bag. There will also be
                resources inside the bag that may assist you.
            </li>
        </ul>
    </div>
    <h2 class="formatted-h2">Voucher Program</h2>
    <div class="text-container">
        <p>
            The Bearcats Pantry through the Division of Student Affairs has developed a meal swipe voucher program.
            Students can donate one swipe per semester to the pantry which will then become food vouchers for students
            with food insecurities. Students can use these vouchers at UC Main Campus dining halls and at UC Blue Ash
            Bleecker Street Cafe.
        </p>
    </div>
    <div class="text-container">
        <p>
            You will also be required to complete a food voucher intake survey. The intake survey is meant to help us
            understand each individual student better, as well as connect you, the student, to more resources.
        </p>
    </div>
    <div class="text-container">
        <p>
            If you have any questions regarding the vouchers, please contact the Assistant Dean of Students Office at
            ucbearcats1819care@gmail.com or call 513-556-5064.
        </p>
    </div>
</div>