<div class="home">
    <div class="logo">
        <img src="/logo.png"></img>

    </div>
    <h1 class="formatted-h1">Bearcat Pantry</h1>
    <div class="text-container">
        <p class="intro-text">The UC Bearcats Pantry provides free food, hygiene items, and cleaning supplies to students with food and other insecurities.
            Our goal is to assist students in need by cutting down their grocery bills and connecting them to other resources in an effort to promote independence.
            The Bearcats Pantry is here to support students of all backgrounds and serve the student population.</p>
    </div>
    <div class="text-container">
        <p>
            To be eligible for services, you must be a UC undergraduate or graduate student.
        </p>
    </div>
    <h2 class="formatted-h2"> About the Pantry</h2>
    <div class="text-container">
        <p>
            The Bearcats Pantry offers both a main location along with several to-go satellite locations around campus.
        </p>
    </div>
    <h3 class="formatted-h3">Main Pantry</h3>
    <h4 class="formatted-h4">Location</h4>
    <div class="text-container">
        <p>The Pantry is located in Stratford Heights Building 16 Rm 007.</p>
    </div>
    <div class="text-container">
        If you have questions regarding directions or procedures, you may call 513-556-5064 or 556-3780 to speak with a
        respresentative regarding directions or procedures.
    </div>
    <div class="text-container">
        For more information regarding donations, food voucher program, etc you can go to <a style="color:blue" href="https://www.uc.edu/campus-life/dean-of-students/bearcats-pantry.html">https://www.uc.edu/campus-life/dean-of-students/bearcats-pantry.html</a>
    </div>
    <h4 class="formatted-h4">Hours</h4>
    <div class="text-container">
        <p>Typical hours for the Bearcats Pantry are 9am-5pm, Monday through Friday. If these hours do not work with
            your schedule, please contact us to set up an appointment. Additionally, appointments may be made during
            the weekend.</p>
    </div>
    <h3 class="formatted-h3">Bearcat Pantry To-go</h3>
    <h4 class="formatted-h4">Locations</h4>
    <div class="text-container">
        <p>Bearcats Food Pantry To-Go bags are located at various sites around campus. Listed below is a complete list
            of locations:</p>
        <ul>
            <li>UC Blue Ash Student Food Pantry - Academic Advising Office</li>
            <li>College of Nursing - 213 Proctor Hall</li>
            <li>DAAP Student Affairs - 5470 Aronoff</li>
            <li>College of Pharmacy - 169 Kowalewski Hall</li>
            <li>College of Engineering and Applied Sciences - 665 Baldwin Hall, Suite I</li>
            <li>College of Education, Criminal Justice, and Human Services - Student Services Center, 360 Teachers-Dyer
                Complex</li>
            <li>UC Police Department - 3 Edwards Center</li>
            <li>College of Allied Health Sciences - 131 French Hall East</li>
        </ul>
    </div>
    <div class="credit-text">
        <p>This site developed by Christian Davidson, Adam Kowalski, Andrew Kump, and Will Severson </p>
    </div>
</div>