{{#if items}}
<h4> Items in the database</h4>
{{#each items}}
<li>
  Item Name: {{this.itemName}}
</li>
<li>
  quantity: {{this.quantity}}
</li>
<br></br>
{{/each}}
{{else}}
<li class="list-group-item">
  <h4 class="text-center">
    No items found
  </h4>
</li>
{{/if}}