  <h1>Add an item to the pantry</h1>
  <form method="post" action="/addItem">
    <label>Enter item information</label><br>
    <input type="text" name="itemName" placeholder="Enter item name..." required>
    <input type="text" name="price" placeholder="Enter price..." required>
    <input type="submit" value="Add Item">
  </form>