<div class="main-container">
    <h5>Order created!</h5>
    <p>Thank you for your order with the Bearcat Pantry.
        You should recieve an email at your @mail.uc.edu account.
        Please come to the pantry to pick up your order.
        Consider filling out this survey to help the Bearcat Pantry become the best it can.
    </p>
</div>