  <h1>Update an item to the pantry</h1>
  <form method="post" action="/updateExistingItem">
    <label>Enter item information</label><br>
    <input type="text" name="itemName" placeholder="Enter item name..." required>
    <input type="text" name="quantity" placeholder="Enter quantity..." required>
    <input type="text" name="weight" placeholder="Enter weight..." required>
    <input type="submit" value="Update item">
  </form>