.tab-content>.active {
  display: inline;
}


.card-container {
  display: flex;
  flex-wrap: wrap
}

.card-container .card {
  margin-right: 20px;
}

.new-item-container {
  width: 250px;
}

.home-container {
  margin: 91px 20% 0 20%;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.item-header {
  display: flex;
}

.item-header-text {
  width: 255px;
}

.item-container {
  flex-basis: 300px;
}

.card-body {
  height: 50px;
  display: flex;
}

.add-to-cart-button {
  margin: auto;
}

.card-text {
  margin-top: 13px;
}

.add-to-cart-button {
  cursor: pointer;
}

.badge {
  position: relative;
  top: -14px;
  right: 6px;
  padding: 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.main-container {
  margin: 71px 10px 70px 10px;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.modal-body {
  padding-bottom: 0px;
}

.navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #e00122;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#barcode-scanner canvas.drawingBuffer,
#barcode-scanner video.drawingBuffer {
  display: none;
}

#barcode-scanner canvas,
#barcode-scanner video {
  width: 250px;
  height: 250px;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }

  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }

}

.alert-success {
  width: 300px;
  ;
}

.intro-text {
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: .3px;
  font-weight: 300;
}

.text-container {
  margin-bottom: 20px;
}

.formatted-h1 {
  font-size: 1.8em;
  font-weight: 800;
}

.formatted-h2 {
  font-size: 1.602em;
  font-weight: 600;
}

.formatted-h3 {
  font-size: 1.5em;
  font-weight: 700;
}

.formatted-h4 {
  font-size: 1.266em;
}

.cart-alert {
  position: fixed;
  bottom: 50px;
  left: 25%;
}

.nav-bar-search {
  flex: 1 1 auto;
}

.cart-quantity-input.input-number {
  flex: 0 0 100px;
}

.cart-table .quantity-left-minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;

}

.cart-table .quantity-right-plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}